.catalog {
    margin-bottom: 4rem;
}

.catalog__title {
    @extend %h2;
}

.catalog__title::after, .catalog__title::before {
    @extend %dots;
}

.catalog__inner-nav {
    width: 100%;
}

@media (max-width: 650px ) {
    .catalog__inner-items {
        display: none;
    }

}


.catalog__inner-item {
    cursor: pointer;
}

.catalog__inner-cardholder {
    display: none;
}

.catalog__inner-cardholder.active {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__inner-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
}

.catalog__inner-items a {
    color: $text-color;
    border: 1px solid $text-color;
    padding: 0.4rem 1.6rem;
    border-radius: 30px;
    transition: 0.3s linear;
    &:hover,&:active,&:focus {
        color: white;
        background-color: $text-color;
    }
}


.catalog__inner-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 2rem;
    transition: all 0.5s ease-out;
        &:hover {
            box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.404);
        }
    
    @media (max-width: 992px) {
        width: 48%;
    }

    @media (max-width: 480px) {
        width: 70%;
        margin: 1rem auto;
    }

    @media (max-width: 460px) {
        width: 90%;
        margin: 1rem auto;
    }
        
    
}

.card-image {
    width: 100%;
    overflow:hidden;
        img {
            width: 100%;
            display: block;
            object-fit: cover;
            transition: all 1s ease-out;
        }       
}

.card-image__pic:hover {
    transform: scale(1.1);
}

.card-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0.5rem;
    background-color: $bg-color;
    flex: 1;
}

.card-content__price {
    display: flex;
    flex-wrap: wrap;
}

.card-content__title {
    @include adaptive-font(30, 22);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.card-content__desc {
@include adaptive-font(20, 16);
text-align: center;
margin-bottom: 2rem;
flex: 1;
}

.card-content__price {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.price {
    @include adaptive-font(24, 18);
    font-family: 'Lobster';
    font-weight: 900;
}

.price__btn {
    color:white;
    background-color: $logo-color;
    padding: 0.4rem 1.6rem;
    border-radius: 30px;
    transition: 0.3s linear;

    &:hover,
    &:active,
    &:focus {
        color: white;
        background-color: #fa2a4d;
    }
}


